.arrow-buttons {
    flex-direction: column;
    gap: 10px;

    .arrow-button {
        cursor: pointer;

        display: flex;

        box-shadow: var(--button-shadow);
        border-radius: 12px;
        padding: 12px 15px;

        .arrow-button-svg {
            width: 14px;

            fill: var(--button-svg);

            transition: fill 0.3s;
            -webkit-transition: fill 0.3s;
            -o-transition: fill 0.3s;
            -moz-transition: fill 0.3s;    
        }

        background-color: var(--button-bkgd);
        
        transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;

        &:hover {
            background-color: var(--button-bkgd-hover);

            transition: background-color 0.5s;
            -webkit-transition: background-color 0.5s;
            -o-transition: background-color 0.5s;
            -moz-transition: background-color 0.5s;
            
            .arrow-button-svg {    
                fill: var(--button-svg-hover);
    
                transition: fill 0.5s;
                -webkit-transition: fill 0.5s;
                -o-transition: fill 0.5s;
                -moz-transition: fill 0.5s;
            }
        }
    }
}

@media (min-width: 900px) {
    .arrow-buttons {
        display: flex;
    }
}

@media (max-width: 899px) {
    .arrow-buttons {
        display: none;
    }
}