.about-container {
    display: flex;
    flex-direction: column;
    left: 10%;
    right: 10%;
    gap: 20px;
    width: 100%;
    // font-family: "San Francisco", "Arial", sans-serif;
}

.header {
    font-size: 28px;
}

.content {
    font-size: 12px;
}