<div class="about-container">
    <div class="header">
        Hi, I'm Sam.

        <div class="content">
            I am a 24 year old software engineer living in Austin, TX.
        </div>
    </div>

    <div class="header">
        About This Website

        <div class="content">
            This website is a hub for my profiles. Find me on social media, download my resume, check out my 
            <b>download my resume</b> or <b>check out pictures of my cats</b>
        </div>
    </div>
</div>