<svg class="background-svg" fill="#000000" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="5.68434e-14 0 3840 2160" xml:space="preserve" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient id="myGradient" gradientTransform="rotate(90)">
            <stop class="gradientColor1" offset="3%" stop-color="var(--gradientColor1)"/>
            <stop class="gradientColor2" offset="97%" stop-color="var(--gradientColor2)"/>
        </linearGradient>
    </defs>
    
    <path d="M5.68434e-14 0L3840 0L3840 2160L5.68434e-14 2160L5.68434e-14 0Z"/>
</svg>