.intro {
    position: absolute;
    width: 100px;

    .circle-svg {
        position: absolute;
    }

    .circle1 {
        fill: #B1B0AD;

        transform: translate(0);
        -ms-transform: translate(0) scale(0); /* IE 9 */
        -webkit-transform: translate(0) scale(0); /* Safari and Chrome */
        -o-transform: translate(0) scale(0); /* Opera */
        -moz-transform: translate(0) scale(0); /* Firefox */

        animation: circle1-ani 2s ease forwards;
    }

    .circle2 {
        fill: #D6D5D2;

        transform: translate(0);
        -ms-transform: translate(0) scale(0); /* IE 9 */
        -webkit-transform: translate(0) scale(0); /* Safari and Chrome */
        -o-transform: translate(0) scale(0); /* Opera */
        -moz-transform: translate(0) scale(0); /* Firefox */

        animation: circle2-ani 2s ease forwards;
    }

    .circle3 {
        fill: #FCFBF7;
        transform: translate(0);
        -ms-transform: translate(0) scale(0); /* IE 9 */
        -webkit-transform: translate(0) scale(0); /* Safari and Chrome */
        -o-transform: translate(0) scale(0); /* Opera */
        -moz-transform: translate(0) scale(0); /* Firefox */

        animation: circle3-ani 2s ease forwards;
    }
}

@keyframes circle1-ani {
    0% { 
        transform: translate(0px, 0px), scale(0); 
        -ms-transform: translate(0px, 0px) scale(0); /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(0); /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(0); /* Opera */
        -moz-transform: translate(0px, 0px) scale(0); /* Firefox */
    }
    10% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    30% { 
        transform: translate(0px, -30px) scale(1); 
        -ms-transform: translate(0px, -30px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, -30px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, -30px) scale(1);  /* Opera */
        -moz-transform: translate(0px, -30px) scale(1);  /* Firefox */
    }
    50% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    70% {
        transform: translate(-30px, 0px) scale(1); 
        -ms-transform: translate(-30px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(-30px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(-30px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(-30px, 0px) scale(1);  /* Firefox */
    }
    90% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    100% { 
        transform: translate(0) scale(0); 
        -ms-transform: translate(0) scale(0);  /* IE 9 */
        -webkit-transform: translate(0) scale(0);  /* Safari and Chrome */
        -o-transform: translate(0) scale(0);  /* Opera */
        -moz-transform: translate(0) scale(0);  /* Firefox */
    }
}

@keyframes circle2-ani {
    0% { 
        transform: translate(0px, 0px), scale(0); 
        -ms-transform: translate(0px, 0px) scale(0); /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(0); /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(0); /* Opera */
        -moz-transform: translate(0px, 0px) scale(0); /* Firefox */
    }
    10% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    90% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    100% {
        transform: translate(0) scale(0); 
        -ms-transform: translate(0) scale(0);  /* IE 9 */
        -webkit-transform: translate(0) scale(0);  /* Safari and Chrome */
        -o-transform: translate(0) scale(0);  /* Opera */
        -moz-transform: translate(0) scale(0);  /* Firefox */
    }
}

@keyframes circle3-ani {
    0% { 
        transform: translate(0px, 0px), scale(0); 
        -ms-transform: translate(0px, 0px) scale(0); /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(0); /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(0); /* Opera */
        -moz-transform: translate(0px, 0px) scale(0); /* Firefox */
    }
    10% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    30% { 
        transform: translate(0px, 30px) scale(1); 
        -ms-transform: translate(0px, 30px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 30px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 30px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 30px) scale(1);  /* Firefox */
    }
    50% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    70% {
        transform: translate(30px, 0px) scale(1); 
        -ms-transform: translate(30px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(30px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(30px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(30px, 0px) scale(1);  /* Firefox */
    }
    90% { 
        transform: translate(0px, 0px) scale(1); 
        -ms-transform: translate(0px, 0px) scale(1);  /* IE 9 */
        -webkit-transform: translate(0px, 0px) scale(1);  /* Safari and Chrome */
        -o-transform: translate(0px, 0px) scale(1);  /* Opera */
        -moz-transform: translate(0px, 0px) scale(1);  /* Firefox */
    }
    100% { 
        transform: translate(0) scale(0); 
        -ms-transform: translate(0) scale(0);  /* IE 9 */
        -webkit-transform: translate(0) scale(0);  /* Safari and Chrome */
        -o-transform: translate(0) scale(0);  /* Opera */
        -moz-transform: translate(0) scale(0);  /* Firefox */
    }
}