.actions {
    // max-width: 250px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 15px;

    .action {
        box-shadow: var(--shadow-action);
        border-radius: 12px;
        padding: 12px 12px;

        display: flex;
        align-items: center;
        gap: 10px;

        .a-text {
            color: black;
            font-weight: bold;
            font-size: 14px;
        }

        .resume2 {
            display: none;
        }

        .a-svg {
            height: 14px;

            .a-svg-bkgd {
                fill: var(--svg-bkgd-color);
            }

            .a-svg-logo {
                // fill: var(--svg-logo-color);
                fill: black;
            }
        }

        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3;
        -webkit-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            transition: background-color 0.5;
            -webkit-transition: background-color 0.5s;
            -o-transition: background-color 0.5s;
            -moz-transition: background-color 0.5s;
        }
    }
}
