<div class="contact-form-container">
    <form style="display: flex; flex-direction: column;" [formGroup] = "contactForm" (ngSubmit) = "saveDetails(contactForm)">
        <mat-form-field appearance = "fill">
            <mat-label>First Name</mat-label>
            <input matInput maxlength = "15" inputmode = "tel" placeholder = "First Name" formControlName = "firstName">
        </mat-form-field>

        <mat-form-field appearance = "fill">
            <mat-label>Last Name</mat-label>
            <input matInput maxlength = "15" inputmode = "tel" placeholder = "Last Name" formControlName = "lastName">
        </mat-form-field>  

        <mat-form-field appearance = "fill">
            <mat-label>Email</mat-label>
            <input matInput maxlength = "15" inputmode = "tel" placeholder = "Email" formControlName = "email">
        </mat-form-field>  
        
        <mat-form-field appearance = "fill">
            <mat-label>Phone Number</mat-label>
            <input matInput maxlength = "15" inputmode = "tel" placeholder = "Phone Number" formControlName = "phoneNumber">
        </mat-form-field>  

        <mat-form-field appearance = "fill">
            <mat-label>Phone Type</mat-label>
            <input matInput maxlength = "15" inputmode = "tel" placeholder = "Phone Type" formControlName = "phoneType">
        </mat-form-field>  

        <mat-form-field appearance = "fill">
            <mat-label>Preferred Contact</mat-label>
            <input matInput maxlength = "15" inputmode = "tel" placeholder = "Preferred Contact" formControlName = "preferredContact">
        </mat-form-field>
    </form>
    
    <!-- <div>{{ contactForm.value | json }}</div> -->
</div>