.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.app-grid {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
