<div class="app-container">
    <svg class="background-svg" fill="#000000" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="5.68434e-14 0 3840 2160" xml:space="preserve" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient id="myGradient" gradientTransform="rotate(90)">
                <stop class="gradientColor1" offset="3%" stop-color="var(--gradientColor1)"/>
                <stop class="gradientColor2" offset="97%" stop-color="var(--gradientColor2)"/>
            </linearGradient>
        </defs>
        
          <path d="M5.68434e-14 0L3840 0L3840 2160L5.68434e-14 2160L5.68434e-14 0Z"/>
    </svg>

    <div class="nav">
        <div class="bean home">Home</div>
        <div class="bean resume">Resume</div>
        <div class="bean contact">Contact</div>

        <div class="toggle">
            <svg class="circle-svg circle1" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="1.5 1.25 11 11" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M1.5 6.75C1.5 3.71243 3.96243 1.25 7 1.25C10.0376 1.25 12.5 3.71243 12.5 6.75C12.5 9.78757 10.0376 12.25 7 12.25C3.96243 12.25 1.5 9.78757 1.5 6.75Z"/>
            </svg>
            <svg class="circle-svg circle2" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="1.5 1.25 11 11" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M1.5 6.75C1.5 3.71243 3.96243 1.25 7 1.25C10.0376 1.25 12.5 3.71243 12.5 6.75C12.5 9.78757 10.0376 12.25 7 12.25C3.96243 12.25 1.5 9.78757 1.5 6.75Z"/>
            </svg>
            <svg class="circle-svg circle3" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="1.5 1.25 11 11" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M1.5 6.75C1.5 3.71243 3.96243 1.25 7 1.25C10.0376 1.25 12.5 3.71243 12.5 6.75C12.5 9.78757 10.0376 12.25 7 12.25C3.96243 12.25 1.5 9.78757 1.5 6.75Z"/>
            </svg>
        </div>
    
    </div>

    <div class="intro">
        <svg class="circle-svg circle1" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="1.5 1.25 11 11" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M1.5 6.75C1.5 3.71243 3.96243 1.25 7 1.25C10.0376 1.25 12.5 3.71243 12.5 6.75C12.5 9.78757 10.0376 12.25 7 12.25C3.96243 12.25 1.5 9.78757 1.5 6.75Z"/>
        </svg>
        <svg class="circle-svg circle2" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="1.5 1.25 11 11" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M1.5 6.75C1.5 3.71243 3.96243 1.25 7 1.25C10.0376 1.25 12.5 3.71243 12.5 6.75C12.5 9.78757 10.0376 12.25 7 12.25C3.96243 12.25 1.5 9.78757 1.5 6.75Z"/>
        </svg>
        <svg class="circle-svg circle3" stroke="none" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="1.5 1.25 11 11" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M1.5 6.75C1.5 3.71243 3.96243 1.25 7 1.25C10.0376 1.25 12.5 3.71243 12.5 6.75C12.5 9.78757 10.0376 12.25 7 12.25C3.96243 12.25 1.5 9.78757 1.5 6.75Z"/>
        </svg>
    </div>

    <div class="nav">

    </div>
</div>
