.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.details {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20px;
    top: 20px;
    font-family: "San Francisco", "Arial", sans-serif;
    // font-weight: 200;
    font-size: 20px;
}
