.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.svg {
    width: 58px;

    -webkit-filter: drop-shadow(var(--button-shadow));
    -o-filter: drop-shadow(var(--button-shadow));
    -moz-filter: drop-shadow(var(--button-shadow));    
    filter: drop-shadow(var(--button-shadow));

    transition: filter 0.3s;

    .letter {
        fill: var(--jcms-letter);
        transition: fill 0.3s;
        -webkit-transition: fill 0.3s;
        -o-transition: fill 0.3s;
        -moz-transition: fill 0.3s;
    }
    
    .bkgd {
        fill: var(--jcms-bkgd);
        transition: fill 0.3s;
        -webkit-transition: fill 0.3s;
        -o-transition: fill 0.3s;
        -moz-transition: fill 0.3s;
    }

    &:hover {
        .letter {
            fill: var(--jcms-letter-hover);
            transition: fill 0.3s;
            -webkit-transition: fill 0.3s;
            -o-transition: fill 0.3s;
            -moz-transition: fill 0.3s;
        }

        .bkgd {
            fill: var(--jcms-bkgd-hover);
            transition: fill 0.3s;
            -webkit-transition: fill 0.3s;
            -o-transition: fill 0.3s;
            -moz-transition: fill 0.3s;
        }
    }
}

.first {
    display: flex;
    gap: 25px;
}

.second {
    display: flex;
    gap: 25px;
}

.word {
    display: flex;
    gap: 5px;
}
