.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;

    margin-top: 225px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    
    .pre-header {
        font-size: 28px;
    }

    .main-header {
        font-size: 56px;
        font-weight: bold;
    }
}

.post-header {
    font-size: 20px;
}


.body {
    font-size: 18px;
}
